/* board common */
.xans-board-title .title { min-height:30px; margin:10px 0 20px; border-bottom:1px solid #e8e8e8; }
.xans-board-title .title h2 { display:inline-block; padding:0 0 0 12px; color:#2e2e2e; font-size:16px; *display:inline; *zoom:1; background:url("//img.echosting.cafe24.com/skin/base/layout/ico_heading.gif") 0 50% no-repeat; }
.xans-board-title .title p { display:inline-block; margin:0 0 0 6px; padding:0 0 0 10px; color:#939393; vertical-align:bottom; background:url("//img.echosting.cafe24.com/skin/base/common/ico_bar.gif") no-repeat 0 0; *display:inline; *zoom:1; }
.xans-board-title p.imgArea { margin:0 0 20px; }

/* read */
.xans-board-read-9 .ec-base-table .view .detail { padding:10px; word-break:break-all; line-height:normal; }
.xans-board-read-9 .ec-base-table .view .detail ol,
.xans-board-read-9 .ec-base-table .view .detail ul { margin:15px 0; padding:0 0 0 40px; }
.xans-board-read-9 .ec-base-table .view .detail ol li { list-style:decimal; }
.xans-board-read-9 .ec-base-table .view .detail ul li { list-style:disc; }
.xans-board-read-9 .ec-base-table .attach a { padding:0 0 0 12px; background:url("//img.echosting.cafe24.com/skin/base/common/ico_file.gif") no-repeat 0 0; color:#8f8f8f; }
.xans-board-read-9 .ec-base-table .attach a:hover { text-decoration:underline; }
.xans-board-read-9 .ec-base-button { margin:10px 0 40px; overflow: hidden;}

@media(max-width: 1024px){
    .xans-board-product .information h3{margin-top: 0;}
    .xans-board-product.ec-base-box.typeProduct{width: calc(100% - 40px); margin: 0 20px 20px;}
    .xans-board-product.ec-base-box.typeProduct .information img{max-height: 20px; margin: 0 5px 5px 0;}
    .ec-base-button .gLeft > .btnNormalFix{margin-top: 10px;}
    .ec-base-button .gLeft a:not(.displaynone) + a:not(.displaynone),.ec-base-button .gRight a:not(.displaynone) + a:not(.displaynone){margin-top: 10px;}
    .ec-base-button [class^='btn'].sizeM{width:100% !important; border-radius: 4px;}
	#BoardDelForm{width: calc(100% - 40px); margin: 0 auto;}
}