.titleArea.titleArea--myshop { display: none; }
.sizeB {width: auto !important; padding: 15px !important; line-height:25px !important; min-width: 150px !important}
.ec-base-help .inner { border:0 !important; border-top:1px solid var(--black-color) !important; }
