.xans-myshop-orderstate .state { overflow:hidden; border-top:1px solid #000; border-bottom:1px solid #e5e5e5; }
.xans-myshop-orderstate .state__order { display:flex; }
.xans-myshop-orderstate a:hover { text-decoration:none; }

/********************* Mobile / Tablet *********************/
@media (max-width:1024px) {
    .xans-myshop-orderstate .state__order li { width:25%; padding:26px 7px 25px; text-align:center; }
    .xans-myshop-orderstate .state__order .label { position:relative; display:block; margin:11px 0 0; font-size:13px !important; }
    .xans-myshop-orderstate .state__order li:not(:last-child) .label:after { content:""; display:block; position:absolute; top:4px; right:-7px; width:7px; height:7px; border-left: 1px solid #dfdfdf; border-bottom: 1px solid #dfdfdf; -webkit-transform: rotate(-135deg); transform: rotate(-135deg); }
    .xans-myshop-orderstate .state__order .count { font-size:20px; }
}

/********************* PC *********************/
@media (min-width:1025px) {
    .xans-myshop-orderstate .state__order li { position:relative; width:25%; padding:35px 0 33px; text-align:center; }
    .xans-myshop-orderstate .state__order li:not(:last-child):after { content:""; display:block; position:absolute; top:50%; right:0; width:13px; height:13px; margin:-10px auto 0; border-left: 1px solid #dfdfdf; border-bottom: 1px solid #dfdfdf; -webkit-transform: rotate(-135deg); transform: rotate(-135deg); }
    .xans-myshop-orderstate .state__order .label { display:block; margin:10px 0 7px; font-size:13px; }
    .xans-myshop-orderstate .state__order .count { font-size:30px; }
}

/** 기본_style 210813 **/
.xans-myshop-orderstate .state {border:none;border-top:2px solid var(--black-color);}
.xans-myshop-orderstate .state__order .count {font-size:20px;font-weight:700;color:#1a1a1a;}
.xans-myshop-orderstate .state__order .label {font-size:14px;color:var(--black-color);letter-spacing:-0.02em;margin:4px 0 0;}
.xans-myshop-orderstate .state__order li {padding-bottom:40px;}

@media (max-width:1024px) {
	.xans-myshop-orderstate .state__order li {padding:40px 0;position:relative;}
	.xans-myshop-orderstate .state__order li:not(:last-child):after {display:none;}
	.xans-myshop-orderstate .state__order li:not(:last-child) .label:after {display:none;}
}