#footer { width: 100%; border: none !important; border-top: 1px solid var(--black-color-25) !important; }
#footer::before { display: none; }
#footer::after { display: none; }
#footer .inner  { width: calc(100% - 40px) !important; max-width: var(--max-width) !important; margin: 0 auto !important; padding: 70px 0 36px !important; }
#footer .xans-layout-footer { display: flex; position: relative; float: unset; width: 100%; height: auto; margin: 0; border: none; flex-wrap: wrap; align-items: flex-start; justify-content: space-between; }
#footer .xans-layout-info { display: flex; width: calc((100% - 40px) / 2); max-width: 700px; min-height: 200px; margin: 0 0 0 auto; padding: 0; gap: 70px; border: none; }
#footer .xans-layout-info .title { margin-bottom: 10px; font-size: var(--font-size-xs); font-weight: var(--font-weight-bold); color:var(--text-dark-gray); }
#footer .xans-layout-info .list > div { display: flex; flex-wrap: wrap; font-size: var(--font-size-3xs); line-height: var(--line-height-xl); color: var(--text-gray); }
#footer .xans-layout-info .list > div.phone.bt_txt01 { margin-bottom: 10px; }
#footer .xans-layout-info .list > div.phone.bt_txt01,
#footer .xans-layout-info .list > div.phone.bt_txt01 > span { font-size: var(--font-size-base); font-weight: var(--font-weight-semi-bold); line-height: var(--line-height-lg); color: var(--text-gray); }
#footer .xans-layout-info span { display: block; font-size: var(--font-size-2xs); line-height: var(--line-height-xl); color: var(--text-gray); }
.xans-layout-footer .utilMenu { display: flex; width: calc(100% / 3); height: auto; line-height: normal; flex-direction: column; gap: 30px; }
.xans-layout-footer .utilMenu li { float: unset; padding: 0; background: none; }
.xans-layout-footer .utilMenu li a { position: relative; padding: 0; font-size: var(--font-size-2xs); font-weight: var(--font-weight-regular); line-height: var(--line-height-xl); color: var(--text-dark-gray); text-transform: uppercase; }
.xans-layout-footer .cs_info { width: calc(100% / 3); }
.xans-layout-footer .bank_info { width: calc(100% / 3); }
.xans-layout-footer .hosting { display: none; }
.xans-layout-footer .copyright { position: unset; width: 40%; height: auto; font-size: var(--font-size-3xs); line-height: var(--line-height-xl); color: var(--text-gray); }
.xans-layout-footer .address { padding: 0; width: 60%; text-align: right; }
.xans-layout-footer .address span { position: relative; padding: 0 5px; font-size: var(--font-size-3xs); font-weight: var(--font-weight-regular); line-height: var(--line-height-xl); color: var(--text-gray); }
.xans-layout-footer .address span:after { content: ''; position: absolute; bottom: 0; right: -2px; width: 1px; height: 100%; background: var(--black-color-20); }
.xans-layout-footer .address span:first-child { padding-left: 0; }
.xans-layout-footer .address span a { color: var(--text-gray); }
.xans-layout-footer .address span:nth-child(4):after,
.xans-layout-footer .address span:last-child:after { display: none; }
.xans-layout-footer .address span:last-child a { font-weight: var(--font-weight-semi-bold); }
.xans-layout-footer .address span strong { font-weight: 500; }
.xans-layout-footer .xans-layout-logobottom { width: calc((100% - 40px) / 2); float: unset; padding: 0; }
.xans-layout-footer .xans-layout-logobottom a { height: auto; color: var(--text-dark-gray); font-size: var(--font-size-5xl); font-weight: var(--font-weight-bold); line-height: var(--line-height-sm); }
/* .xans-layout-footer .xans-layout-logobottom a img { max-width: 159px; } */
.xans-layout-footer .xans-layout-logobottom a img { max-width: 240px; max-height: 60px; }
.locale_pg_sns_wrap { display: flex; margin: 24px 0 20px; justify-content: space-between; align-items: center; }
.locale_pg_sns_wrap .lps_left { display: flex; flex-wrap: wrap; align-items: flex-start; justify-content: center;}
.locale_pg_sns_wrap .lps_left .sns_info { padding: 0; margin-right: 50px;  }
.locale_pg_sns_wrap .lps_left .sns_info li { display: block; aspect-ratio: 1; }
.locale_pg_sns_wrap .bt_locale { margin-bottom: 0;}
.locale_pg_sns_wrap .bt_escrow a { display:flex; font-size:0; }
.locale_pg_sns_wrap .bt_escrow a img { display:none; height:38px; margin-right:10px; }
.locale_pg_sns_wrap .bt_escrow a img.on { display:block; }
.locale_pg_sns_wrap .bt_escrow a span { color:var(--text-gray); font-size:var(--font-size-3xs); line-height:var(--line-height-xl); }
.locale_pg_sns_wrap .bt_escrow a em { display:inline-block; font-style:normal; font-weight:var(--font-weight-semi-bold); }

@media (max-width:1024px){
    .xans-layout-conversionpc { display: none; }
    #footer .inner  { padding: 40px 0 !important; }
    #footer .xans-layout-footer { flex-direction: column; margin-top:18px; }
    #footer .xans-layout-footer .copyright { order: 0; width: 100%; margin-top: 16px; }
    #footer .xans-layout-footer .address { display: flex; width: 100%; flex-flow: row wrap; order: -1; text-align: left; flex-direction: column; }
    #footer .xans-layout-footer .address > br {line-height: 0;}
    #footer .xans-layout-footer .address span { padding: 0; line-height: 20px; }
    #footer .xans-layout-footer .address span:after { display: none; }
    #footer .xans-layout-info { flex-direction: column; width: 100%; margin: 10px 0 0; min-height: unset; order: 2; gap: 18px;  }
    #footer .xans-layout-info .cs_info, 
    #footer .xans-layout-info .bank_info { width: 100%; }
    #footer .xans-layout-info .title { font-size: var(--font-size-2xs); }
    #footer .xans-layout-info span { font-size: var(--font-size-3xs); }
    #footer .xans-layout-info .list > div.phone.bt_txt01 { margin-bottom: 5px; }
    #footer .xans-layout-footer .utilMenu { width: 100%; padding: 0; gap: 10px; flex-direction: row; flex-wrap: wrap; }
    #footer .xans-layout-footer .utilMenu li a { font-size: var(--font-size-2xs); font-weight: var(--font-weight-regular); }
    #footer .xans-layout-footer .xans-layout-logobottom { width: 100%; margin: 0; order: 1; }
    #footer .xans-layout-footer .xans-layout-logobottom a { font-size: var(--font-size-xl); line-height: var(--line-height-md); }
    /* #footer .xans-layout-footer .xans-layout-logobottom a img { max-height: 34px; } */
    #footer .xans-layout-footer .xans-layout-logobottom a img { max-width: 180px; max-height: 46px; }
    #footer .locale_pg_sns_wrap { flex-direction: column; margin:0; }
    #footer .locale_pg_sns_wrap .lps_left { width: 100%; flex-flow: row nowrap; justify-content: space-between; align-items: center; }
    #footer .locale_pg_sns_wrap .lps_left:has(.sns_info:not(.displaynone)),
    #footer .locale_pg_sns_wrap .lps_left:has(.bt_locale:not(.displaynone)) { margin-top:18px; }
		#footer .locale_pg_sns_wrap .sns_info { width: auto; padding: 8px 0; }
    #footer .locale_pg_sns_wrap .sns_info li { font-size: var(--font-size-2xs); line-height: var(--line-height-xl); }
    #footer .locale_pg_sns_wrap .bt_locale { padding: 8px 0; margin: 0; }
    #footer .locale_pg_sns_wrap .bt_escrow { margin-top:18px; width:100%; }
    #footer .locale_pg_sns_wrap .bt_escrow a { flex-direction:column; align-items:flex-start; }
    #footer .locale_pg_sns_wrap .bt_escrow a img { margin-right:0; margin-bottom:10px; }
}