.ec-base-product .prdList .thumbnail .badge,
.ec-base-product .prdList .thumbnail .likeButton{ display:none !important; }
.main_product_list { position: relative; }
.main_product_list .main_title { display: flex; margin-bottom: 50px; gap: 10px; flex-direction: column; text-align: center; }
.main_product_list .main_title_txt01 { font-size: var(--font-size-2xl); font-weight: var(--font-weight-bold); line-height: var(--line-height-sm); }
.main_product_list .main_title_txt02 { font-size: 16px; color: var(--gray-color); line-height: 140%; }
.main_product_list .ec-base-product { position: relative; margin: 0; }
.main_product_list .ec-base-product .prdList { min-width: auto; margin: 0; }
.main_product_list .ec-base-product .prdList .thumbnail { position: relative; margin: 0; aspect-ratio: 1; }
.main_product_list .ec-base-product .prdList .thumbnail .wish { right: unset; bottom: unset; }
.main_product_list .ec-base-product .prdList .thumbnail a img { width: 100%; height: 100%; object-fit: cover; }
.main_product_list .ec-base-product .prdList .icon { display: flex; margin: 8px 0 0; gap: 6px; flex-wrap: wrap; }
.main_product_list .ec-base-product .prdList .icon img { max-height: 20px; object-fit: contain; }
.main_product_list .ec-base-product .prdList .icon__box { display: flex; position: absolute; left: unset; right: 18px; bottom: 18px; width: auto; height: auto; margin: 0; background: none; gap: 8px; flex-direction: column; }
.main_product_list .ec-base-product .prdList .icon__box span.wish,
.main_product_list .ec-base-product .prdList .icon__box span.cart { display: flex; position: relative; flex: 1; width: 30px; height: 30px; margin: 0; padding: 0 !important; border:1px solid var(--black-color-30) !important; border-radius: 4px; font-size: 0; line-height: 28px; background: var(--white-color); text-align: center; align-items: center; justify-content: center; cursor: pointer; overflow:hidden; }
.main_product_list .ec-base-product .prdList .icon__box span.wish:hover,
.main_product_list .ec-base-product .prdList .icon__box span.cart:hover { border-color: var(--black-color) !important; }
.main_product_list .ec-base-product .prdList .icon__box .cart img,
.main_product_list .ec-base-product .prdList .icon__box .wish img { width: 100%; height: 100%; padding: 5px; box-sizing: border-box; object-fit: contain; }
.main_product_list .ec-base-product .prdList .icon__box .cart img,
.main_product_list .ec-base-product .prdList .icon__box .wish img { position: absolute; }
.main_product_list .ec-base-product .prdList .icon__box .wish svg,
.main_product_list .ec-base-product .prdList .icon__box .cart svg { display: none; margin: 0; border: none; fill: var(--gray-color); }
.main_product_list .ec-base-product .prdList .icon__box .wish svg { width: 16px; }
.main_product_list .ec-base-product .prdList .icon__box .cart svg { width: 20px; }
.main_product_list .ec-base-product .prdList .icon__box .wish .heart_fill { display: none; }
.main_product_list .ec-base-product .prdList .icon__box .wish.on .heart { display: none; }
.main_product_list .ec-base-product .prdList .icon__box .wish.on .heart_fill { display: block; fill: var(--point-color); }
.main_product_list .ec-base-product .prdList .icon__box .option { display: none !important; }
.main_product_list .ec-base-product .prdList .description { max-height: 100%; margin: 26px 0 0; padding: 0; }
.main_product_list .ec-base-product .prdList .description .option { display: flex; position: relative; font-size: 0; line-height: 0; }
.main_product_list .ec-base-product .prdList .description .option a { margin-bottom: 10px; text-align: left; }
.main_product_list .ec-base-product .prdList .description .name { margin-bottom: 8px; }
.main_product_list .ec-base-product .spec li { margin-bottom: 8px; }
.main_product_list .ec-base-product .spec li:last-child { margin-bottom: 0; }
.main_product_list .ec-base-product ul.grid1 > li { width: 100%; }
.main_product_list .ec-base-product ul.grid2 > li { width: calc((100% - 20px) / 2); }
.main_product_list .ec-base-product ul.grid3 > li { width: calc((100% - 40px) / 3); }
.main_product_list .ec-base-product ul.grid4 > li { width: calc((100% - 60px) / 4); }
.main_product_list .ec-base-product ul.prdList { display: flex; flex-wrap: wrap; gap: 50px 20px; }
.main_product_list .ec-base-product ul.prdList > li { margin: 0; }
.main_product_list .ec-base-product ul.prdList > li .color { display: flex; margin-top: 8px; gap: 6px; }
.main_product_list .ec-base-product ul.prdList > li .color .chips { width: 8px; height: 8px; margin: 0; border: 1px solid #C5C5C8; border-radius: 50%; }
.main_product_list .xans-product-listmore { margin-top: 50px; }
.main_product_list .xans-product-listmore a { display: flex; padding: 12px 0; font-size: 14px; line-height: 130%; border: 1px solid #c5c5c8; align-items: center; justify-content: center; }
.main_product_list .swiper-pagination { position: absolute; left: 50%; bottom: 30px; z-index: 1; transform: translateX(-50%); }
.main_product_list .swiper-pagination-bullet { position: relative; width: 8px; height: 8px; overflow: hidden; opacity: 1; margin: 0 4px; background: #c5c5c8; border-radius: 4px; transition: width 0.2s; }
.main_product_list .swiper-pagination-bullet .progress-bar { content: ''; position: absolute; top: 0; left: 0; height: 100%; width: 0%; background: #000; transition: none; }
.main_product_list .swiper-pagination-bullet-active { width: 24px; }
.main_product_list .swiper-pagination-bullet-active .progress-bar { animation: fillProgress 5s linear forwards; }
.main_product_list .swiper-scrollbar { left: 0; bottom: 0; width: 100%; height: 3px; background: #C5C5C8; }
.main_product_list .swiper-scrollbar-drag { left: 0 !important; background: var(--black-color); }
.main_product_list .swiper-button-next { right: -25px; transform: translateX(100%); transition: right 0.5s, opacity 0.5s; }
.main_product_list .swiper-button-prev { left: -25px; transform: translateX(-100%); transition: left 0.5s, opacity 0.5s; }
.main_product_list .swiper-button-next,
.main_product_list .swiper-button-prev { width: 44px; height: 54px; color: #FFF; background: rgba(0, 0, 0, 0.15); border-radius: 6px; box-sizing: border-box; }
.main_product_list .swiper-button-next:after,
.main_product_list .swiper-button-prev:after { font-size: 28px; }
.prd_fade {opacity: 0; transition: all 0.8s ease-out; }
.fade_left { transform: translateX(-100px); }
.fade_right { transform: translateX(100px); }
.fade_bottom { transform: translateY(40px); }
.prd_fade_in {opacity: 1; transform: translateX(0) translateY(0); }
.ec-shop-detail-stock-layer .ec-base-layer .header { padding: 20px; }
/* 상품이미지 비율 1.2 */
.main_product_list.thumb_rectangle .ec-base-product .prdList .thumbnail { aspect-ratio: 1 / 1.2; }

@media (max-width:1024px){
    .main_product_list { z-index: 1; padding: 0 20px; }
    .main_product_list .main_title { margin-bottom: 20px; gap: 6px; text-align: start; }
    .main_product_list .main_title_txt01 { font-size: var(--font-size-xl); }
    .main_product_list .main_title_txt02 { font-size: 14px; }
    .main_product_list .ec-base-product ul.grid1 > li,
    .main_product_list .ec-base-product ul.grid2 > li,
    .main_product_list .ec-base-product ul.grid3 > li,
    .main_product_list .ec-base-product ul.grid4 > li { width: calc((100% - 10px) / 2); }
    .main_product_list .ec-base-product ul.prdList { gap: 24px 10px; }
    .main_product_list .ec-base-product .prdList .icon__box { right: 8px; bottom: 8px; opacity: 1; gap: 6px; }
    .main_product_list .ec-base-product .prdList .icon__box .wish,
    .main_product_list .ec-base-product .prdList .icon__box .cart { width: 24px; height: 24px; font-size: 0; line-height: 24px; }
    .main_product_list .ec-base-product .prdList .icon__box .wish svg,
    .main_product_list .ec-base-product .prdList .icon__box .cart svg { position: unset; margin: 0; }
    .main_product_list .ec-base-product .prdList .description { margin: 10px 0 0; }
    .main_product_list .xans-product-listmore { margin-top: 20px; }
    .main_product_list .xans-product-listmore a { padding: 10px 0; font-size: 13px; }
    .main_product_list.thumb_rectangle .ec-base-product .prdList .icon__box { bottom: 20% !important; }
}