.xans-product-basketadd .content { padding:185px 20px 65px; text-align:center; background:url("//img.echosting.cafe24.com/skin/base/product/bg_add_basket.gif") no-repeat 50% 68px; }
.xans-product-basketadd .content p { font-weight:bold; color:#2e2e2e; }
